@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
}

h1, h4 {
	font-family: 'DM Serif Display', serif;
}

.introduction {
	background-color: hsl(256, 26%, 20%);
	padding-top: 200px;
}

.hover-btn {
	border-width: medium;
}

.bg-violet {
	background-color: hsl(256, 26%, 20%);
	margin-top: 100px;
	padding: 60px;
	width: 85%;
}

#desktop-image {
	margin-bottom: -150px;
}

#banner-text {
	max-width: 350px;
}

#header-text {
	font-size: 60px;
	max-width: 450px;
}

#header-paragraph {
	max-width: 550px;
}

.call-to-action {
	margin-top: 250px;
}

#affordable-text, #people-text {
	max-width: 350px;
}

#snappy-text {
	max-width: 330px;
}

.footer-link:hover {
	text-decoration: underline !important;
}

a i:hover {
	color: black;
}

@media only screen and (max-width: 992px) {
	#snappy-text, #affordable-text, #people-text, #header-text, #header-paragraph {
		max-width: none;
	}

	#desktop-image {
		display: none;
	}

	.introduction {
		padding-bottom: 100px;
		padding-top: 100px;
	}

	#header-text {
		margin-top: 75px;
	}

	.call-to-action {
		margin-top: 100px;
	}

}

@media only screen and (min-width: 992px) {
  #mobile-image {
  	display: none;
  }
}