@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
}

h1, h4 {
	font-family: 'DM Serif Display', serif;
}


#nav-btn {
	border-width: medium;
}


.bg-violet {
	background-color: hsl(256, 26%, 20%);
}